
# Package Files #
*.jar
*.war
*.ear
.idea
*.iml
out
gen
hysing.ipr
hysing.iws
.gradle/
build/
/src/main/java/processor/result.json
/src/main/java/processor/candidates_2.json
/src/main/java/processor/candidates.json
